# Dependencias locales
node_modules

# Build local
dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Git
.git
.gitignore

# Entorno
.env
.env.local
.env.*.local

# Editor / sistema
.vscode
.idea
.DS_Store
Thumbs.db

# Tests / coverage (si agregas luego)
coverage

# Docker
docker-compose.yml
Dockerfile*